# Please keep this list in ASCII sort order
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/build/
!**/src/main/**/target/
!**/src/test/**/build/
!**/src/test/**/target/
*.iml
*.ipr
*.iws
.apt_generated
.classpath
.DS_Store
.factorypath
.idea
.project
.settings
.springBeans
.sts4-cache
.vscode/
/.nb-gradle/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
build/
HELP.md
step240-2020.iml
target/
webapp/.cache
webapp/dist
webapp/node_modules
