a {
  color:inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  list-style-type: none;
}

.header {
  border-bottom: 1px var(--primary) solid;
  display: flex;
  max-width: 100%;
  min-width: 100%;
  padding: 1rem 0;
}

.header .title {
  font-weight: bold;
}

.navigation {
  margin-left:auto;
}

.navigation > li {
  padding: 0 2rem;
  font-style: italic;
  text-decoration: underline;
}