:root {
  --failed: #dc4f4f;
  --passed: #4fdc7f;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  list-style-type: none;
}

.header {
  border-bottom: 1px var(--primary) solid;
  display: flex;
  max-width: 100%;
  min-width: 100%;
  padding: 1rem 0;
}

.header .title {
  font-weight: bold;
}

.navigation {
  margin-left: auto;
}

.navigation > li {
  font-style: italic;
  padding: 0 2rem;
  text-decoration: underline;
}

.build-snapshot {
  color: var(--primary);
  border: 0.25rem var(--primary) solid;
  border-radius: 0.5rem;
  flex: 1;
  font-size: 1rem;
}

.passed {
  background-color: var(--passed);
}

.failed {
  background-color: var(--failed);
}

.snapshot-header {
  align-items: center;
  border-bottom: 0.25rem var(--primary) solid;
  color: var(--primary);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.75rem 2rem;
}

.header-wrap {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.header-toggle {
  height: 1.5rem;
  width: 1.5rem;
}

.header-hash {
  font-weight: bold;
}

.header-description {
  font-style: italic;
  text-align: left;
}

.header-status {
  font-style: italic;
  text-transform: uppercase;
}
