:root {
  --passed: #4fdc7f;
  --failed: #DC4F4F;
}

.build-snapshot {
  color: var(--primary);
  border-radius: 1rem;
  flex: 1;
  font-size: 1rem;
}

.passed {
  background-color: var(--passed);
}

.failed {
  background-color: var(--failed);
}

.header-toggle {
  width: 1.5rem;
  height: 1.5rem;
}