:root {
  --passed: #4fdc7f;
  --failed: #DC4F4F;
}

.build-snapshot {
  color: var(--primary);
  border-radius: 1rem;
  flex: 1;
  font-size: 1rem;
}

.passed {
  background-color: var(--passed);
}

.failed {
  background-color: var(--failed);
}

.snapshot-header {
  align-items: center;
  border: 0.25rem var(--primary) solid;
  border-radius: 0.5rem;
  color: var(--primary);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.75rem 2rem;
}

.header-toggle {
  height: 1.5rem;
  width: 1.5rem;
}

.header-hash {
  font-weight: bold;
}

.header-description {
  font-style: italic;
}

.header-status {
  font-style: italic;
  text-transform: uppercase;
}
