@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

/* Base Styling */

:root {
  --background: #0c0d25;
  --failed: #dc4f4f;
  --passed: #4fdc7f;
  --primary: white;
  --button-size: .3125rem;
  font-size: 16px;
}

/* Document Body */

body {
  background: var(--background);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  font: 1rem normal 'Roboto' sans-serif;
  margin: 0.5rem 3rem;
  overflow: hidden scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  list-style-type: none;
}

.header {
  border-bottom: 1px var(--primary) solid;
  display: flex;
  max-width: 100%;
  min-width: 100%;
  padding: 1rem 0;
}

.header .title {
  font-weight: bold;
}

.navigation {
  display: flex;
  margin: 0 0 0 auto;
}

.navigation > li {
  font-style: italic;
  padding: 0 2rem;
  text-decoration: underline;
}

.build-snapshot {
  color: var(--primary);
  border: 0.25rem var(--primary) solid;
  border-radius: 0.5rem;
  flex: 1;
  font-size: 1rem;
}

.passed {
  background-color: var(--passed);
}

.failed {
  background-color: var(--failed);
}

#build-snapshot-container {
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.snapshot-header {
  align-items: center;
  color: var(--primary);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.75rem 2rem;
}

.header-wrap {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.header-toggle {
  height: 1.5rem;
  width: 1.5rem;
}

.header-hash {
  font-weight: bold;
}

.header-description {
  font-style: italic;
  text-align: left;
}

.header-status {
  font-style: italic;
  text-transform: uppercase;
}

.builder-grid {
  display: grid;
  gap: 0.5rem;
  grid: auto / repeat(3, 1fr);
  margin: 1rem;
}

.builder {
  align-items: center;
  background: var(--primary);
  border-radius: 0.25rem;
  color: black;
  display: flex;
  gap: 0.5rem;
  overflow: hidden;
  padding: 0.2rem 1rem;
  white-space: nowrap;
}

.indicator {
  border-radius: 1rem;
  min-height: 0.5rem;
  min-width: 0.5rem;
}

/* The first row of the tray */
.snapshot-tray > *:nth-child(-n+2) {
  border-bottom: 0.25rem var(--primary) solid;
  padding: 0.5rem;
}

/* Message Element in BuildSnapshot Container */
.loader {
  padding: 1rem 0;
  text-align: center;
}

/* Pagination Button Element when hidden */
.hiddenButton {
  background: transparent;
}

/* Pagination Button Element when visible */
.paginationButton {
  border: solid var(--primary);
  border-width: 0 var(--button-size) var(--button-size) 0;
  float: right;
  padding: var(--button-size);
}

/* Proper rotation and position properties for the previous page button */
.prevPage {
  margin: 0 3rem 0 0;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/* Proper rotation and position properties for the next page button */
.nextPage {
  margin: 0 -3rem 0 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.currentPage {
  font: 2rem normal 'Roboto' sans-serif;
}
