@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

/* Base Styling */

:root {
  --background: #0C0D25;
  --primary: white;
  font-size: 16px;
}

/* Document Body */

body {
  background: var(--background);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  font: 1rem normal 'Roboto' sans-serif;
  margin: 0.5rem 3rem;
  overflow: hidden scroll;
}
